<div>
  <%= link_to posts_path do %>
    All Posts
  <% end %>
  <h1>Show post</h1>
</div>

<dl>
  <dt>Title:</dt>
  <dd><%= @post.title %></dd>
  <dt>Body:</dt>
  <dd><%= @post.body %></dd>
</dl>

<% @post.attachments.each do |attachment| %>
  <div><%= link_to attachment.filename, attachment %></div>
<% end %>